* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(199, 196, 196, 0.63);
  z-index: -1;
}
.travel {
  width: 95vmax;
  height: 90vh;
  display: inline-block;
  position: relative;
  margin: 0px auto;
  left: 5vmin;
  top: 3vh;
  background-color: rgb(252, 249, 246);
  overflow: hidden;
  min-width: 700px;
  vertical-align: middle;
}
.text {
  position: absolute;
  width: 40%;
  height: inherit;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
}
.beach {
  width: 55vmax;
  height: 90vh;
  background: url(../images/beach.jpg) center/cover;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
}
.beach img {
  display: inline-block;
}
.travel ul li {
  list-style-type: none;
  display: inline-block;
}
.travel nav {
  position: absolute;
  top: 1.5rem;
  right: 0rem;
}
.travel nav a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
}
.travel nav a:hover {
  font-weight: bolder;
}

.travel main h3 {
  padding-bottom: 1rem;
}
.travel main {
  position: absolute;
  width: 38vmax;
  top: 30vh;
  left: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}
.travel p,h3{
    padding: 1rem;
}
.travel footer p {
  position: absolute;
  top: 80vh;
  width: 36.5vmax;
  background-color: rgba(199, 196, 196, 0.486);
  padding: 1rem;
  left: 2rem;
  text-align: right;
}
