*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(199, 196, 196, 0.63);
    z-index: -1;
}
.travel{
    width: 95vmax;
    height: 90vh;
    display: inline-block;
    position: relative;
    margin: 20px auto;
    left: 5vmin;
    top: 3vh;
    background-color: rgb(252, 249, 246);
}
.beach{
    width: 55vmax;
    height: 90vh;
    background-image: url(../images/beach.jpg);
    background-size: cover;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
}
.beach img{
       display: inline-block;
       margin-left: 1rem;
 
}
.travel ul li{
    list-style-type: none;
    display: inline-block;
}
.travel nav {
    position: absolute;
    top: 1.5rem;
    left: 28vw;
}
.travel nav a{
       text-decoration: none;
 color: black;
margin-left: 2rem;
}
.travel nav a:hover{
    font-weight: bolder;
}

.travel main h3{
    padding-bottom: 1rem;
}
.travel main{
    position: absolute;
    width: 38vmax;
    top: 30vh;
    left: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}
.travel footer p{
    position: absolute;
    top: 80vh;
    width: 38vmax;
    background-color: rgba(199, 196, 196, 0.486);
    padding: 1rem;
    left: 1rem;
    text-align: right;
}